name: Lint
on:
    push:
        branches: [master]
    pull_request:
        branches: [master]
jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - uses: wow-rp-addons/actions-editorconfig-check@v1.0.2
              with:
                  files: "./Assets/**/*.cs"
